---
# readability-identifier-naming based on Google C++ Style Guide
Checks: "clang-diagnostic-*,
        clang-analyzer-*,
        -*,
        bugprone-*,
        readability-*"
WarningsAsErrors: "*"
CheckOptions:
 - key:     readability-identifier-naming.ConstantCase
   value:   CamelCase
 - key:     readability-identifier-naming.ConstantPrefix
   value:   k
 - key:     readability-identifier-naming.ConstantParameterCase
   value:   CamelCase
 - key:     readability-identifier-naming.ConstantParameterPrefix
   value:   k
 - key:     readability-identifier-naming.ConstantPointerParameterCase
   value:   CamelCase
 - key:     readability-identifier-naming.ConstantPointerParameterPrefix
   value:   k
 - key:     readability-identifier-naming.EnumCase
   value:   CamelCase
 - key:     readability-identifier-naming.EnumConstantCase
   value:   CamelCase
 - key:     readability-identifier-naming.EnumConstantPrefix
   value:   k
 - key:     readability-identifier-naming.FunctionCase
   value:   camelBack
 - key:     readability-identifier-naming.GlobalConstantCase
   value:   CamelCase
 - key:     readability-identifier-naming.GlobalConstantPrefix
   value:   k
 - key:     readability-identifier-naming.GlobalConstantPointerCase
   value:   CamelCase
 - key:     readability-identifier-naming.GlobalConstantPointerPrefix
   value:   k
 - key:     readability-identifier-naming.GlobalFunctionCase
   value:   CamelCase
 - key:     readability-identifier-naming.GlobalPointerCase
   value:   lower_case
 - key:     readability-identifier-naming.GlobalVariableCase
   value:   lower_case
 - key:     readability-identifier-naming.LocalConstantCase
   value:   CamelCase
 - key:     readability-identifier-naming.LocalConstantPrefix
   value:   k
 - key:     readability-identifier-naming.LocalConstantPointerCase
   value:   CamelCase
 - key:     readability-identifier-naming.LocalConstantPointerPrefix
   value:   k
 - key:     readability-identifier-naming.LocalPointerCase
   value:   lower_case
 - key:     readability-identifier-naming.LocalVariableCase
   value:   lower_case
 - key:     readability-identifier-naming.MacroDefinitionCase
   value:   UPPER_CASE
 - key:     readability-identifier-naming.ParameterCase
   value:   lower_case
 - key:     readability-identifier-naming.ParameterPackCase
   value:   lower_case
 - key:     readability-identifier-naming.PointerParameterCase
   value:   lower_case
 - key:     readability-identifier-naming.StaticConstantCase
   value:   CamelCase
 - key:     readability-identifier-naming.StaticConstantPrefix
   value:   k
 - key:     readability-identifier-naming.StaticVariableCase
   value:   lower_case
 - key:     readability-identifier-naming.StructCase
   value:   CamelCase
 - key:     readability-identifier-naming.TypedefCase
   value:   CamelCase
 - key:     readability-identifier-naming.UnionCase
   value:   CamelCase
 - key:     readability-identifier-naming.VariableCase
   value:   lower_case
...
