site_name: Embedded Sharepoint Documentation
site_description: Software library shared among LHRS embedded systems
site_author: LHR - Solar

theme:
  name: material
  favicon: LHRs.ico
  palette:
  - scheme: slate
    primary: blue

plugins:
  - macros:
      include_dir: docs/ 
  - search:
      lang: en
  - mkdoxy:
      projects:
        BSP:
          src-dirs: bsp/Inc
          full-doc: true
          doxy-cfg:
            RECURSIVE: true
            EXTRACT_ALL: true          # Include everything, even if no doc
            EXTRACT_STATIC: true       # Include static functions
            EXTRACT_PRIVATE: true      # Include private functions
            OPTIMIZE_OUTPUT_FOR_C: true
            SHOW_INCLUDE_FILES: true
            INCLUDE_FILE_COMMENTS: true  # Include top-of-file comments
            file_patterns: "*.h*"
            recursive: true
        Drivers:
          src-dirs: driver/Inc
          full-doc: true
          doxy-cfg:
            RECURSIVE: true
            EXTRACT_ALL: true          # Include everything, even if no doc
            EXTRACT_STATIC: true       # Include static functions
            EXTRACT_PRIVATE: true      # Include private functions
            OPTIMIZE_OUTPUT_FOR_C: true
            SHOW_INCLUDE_FILES: true
            INCLUDE_FILE_COMMENTS: true  # Include top-of-file comments
            file_patterns: "*.h*"
            recursive: true
        Middleware:
          src-dirs: middleware/Inc
          full-doc: true
          doxy-cfg:
            RECURSIVE: true
            EXTRACT_ALL: true          # Include everything, even if no doc
            EXTRACT_STATIC: true       # Include static functions
            EXTRACT_PRIVATE: true      # Include private functions
            OPTIMIZE_OUTPUT_FOR_C: true
            SHOW_INCLUDE_FILES: true
            INCLUDE_FILE_COMMENTS: true  # Include top-of-file comments
            file_patterns: "*.h*"
            recursive: true
  - gen-files:
      scripts:
        - docs/gen-stm-ports.py
        - docs/gen-dbc-table.py
        - docs/gen-nav.py
  - literate-nav:
      nav_file: nav.md
  - redirects:
      redirect_maps: {}

extra_javascript: []
extra_css: []
